/*
Sass::SyntaxError: ".blog .title" failed to @extend "%base-title".
The selector "%base-title" was not found.
Use "@extend %base-title !optional" if the extend should be able to fail.


Backtrace:
scss/main.scss:10
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/extend.rb:56:in `block in check_extends_fired!'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/util/subset_map.rb:105:in `block in each_value'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/util/subset_map.rb:105:in `each'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/util/subset_map.rb:105:in `each_value'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/extend.rb:16:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:39:in `css_tree'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/var/lib/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/var/lib/gems/2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".blog .title\" failed to @extend \"%base-title\".\A The selector \"%base-title\" was not found.\A Use \"@extend %base-title !optional\" if the extend should be able to fail.\A "; }
